.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    justify-content: center;
    margin: 40px;
  }
  
  .head {
    width: 340px;
    height: 210px;
    background-color: #c98860;
    border-radius: 50%;
    border: 15px solid #000;
    position: relative;
    overflow: hidden;
    z-index: 2;
  }
  
  .hair {
    background-color: #E0B0FF;
    position: absolute;
    border: 10px solid #000;
    border-radius: 50%;
    z-index: 2;
  }
  
  .hair--left {
    width: 155px;
    height: 104px;
    top: -81px;
  }
  
  .hair--right {
    width: 191px;
    height: 145px;
    top: -100px;
    right: -29px;
  }
  
  .eye {
    background-color: #fff;
    border-radius: 50%;
    border: 5px solid #000;
    position: absolute;
    z-index: 1;
    overflow: hidden;
  }
  
  .eye--left {
    height: 155px;
    width: 107px;
    left: -20px;
    top: -4px;
  }
  
  .eye--right {
    height: 155px;
    width: 192px;
    right: -20px;
    top: -4px;
  }
  
  .mouth {
    position: absolute;
    top: 74%;
    left: 45%;
    transform: translate(-50%, -50%);
    height: 60px;
    width: 40px;
    box-shadow: 0px 5px 0 1px #000;
    border-radius: 50%;
  }
  
  .cornea {
    background-color: #00ffff;
    border-radius: 50%;
  }
  
  .cornea--left {
    height: 141px;
    width: 120px;
  }
  
  .cornea--right {
    height: 151px;
    width: 160px;
  }
  
  .pupila {
    background-color: #000;
    position: absolute;
    top: 21px;
    border-radius: 50%;
  }
  
  .pupila--left {
    height: 96px;
    width: 117px;
  }
  
  .pupila--left::before {
    content: "";
    width: 44px;
    background: #fff;
    height: 45px;
    position: absolute;
    top: 20px;
    left: 48%;
    z-index: 3;
    border-radius: 50%;
  }
  
  .pupila--right {
    height: 133px;
    width: 136px;
    top: 12px;
    left: -10px;
  }
  
  .pupila--right::before {
    content: "";
    width: 50px;
    background: #fff;
    height: 50px;
    position: absolute;
    top: 34px;
    left: 15%;
    z-index: 3;
    border-radius: 50%;
  }
  
  .body {
    width: 80px;
    height: 200px;
    border: 10px solid #000;
    background-color: #FF69B4;
    transform: rotate(-45deg);
    position: relative;
    bottom: 71px;
    z-index: 1;
    left: 73px;
  }
  
  .body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #000;
    top: 80px;
  }
  
  .leftLeg {
    width: 34px;
    border: 10px solid #000;
    background-color: #FFCBDB;
    height: 94px;
    bottom: -114px;
    position: absolute;
    left: -10px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
  }
  
  .leftLeg::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 50px;
    bottom: 0;
    background-color: #000;
  }
  
  .leftLeg::after {
    content: "";
    width: 30%;
    position: absolute;
    height: 20px;
    bottom: 23px;
    background-color: #fff;
    border-bottom-right-radius: 20px;
  }
  
  .rightLeg {
    border: 10px solid #000;
    position: absolute;
    bottom: -44px;
    right: -16px;
    width: 37px;
    background: #FFCBDB;
    height: 69px;
    border-radius: 29px;
  }
  
  .rightLeg::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 30px;
    bottom: 0;
    background-color: #000;
  }
  
  .rightLeg::after {
    content: "";
    width: 30%;
    position: absolute;
    height: 20px;
    bottom: 7px;
    background-color: #FFF;
    border-bottom-right-radius: 20px;
  }
  
  .arm {
    border: 10px solid #000;
    background: #c98860;
    width: 40px;
    height: 80px;
    position: absolute;
  }
  
  .arm--left {
    top: -141px;
    transform: rotate(71deg);
    left: -119px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 30px;
  }
  
  .arm--right {
    top: 70px;
    transform: rotate(3deg);
    right: -118px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 60px;
  }
  
  .moreHair {
    content: "";
    position: absolute;
    background-color: #E0B0FF;
    border: 15px solid #000;
    border-radius: 50%;
  }
  
  .moreHair--left {
    top: 40px;
    left: 95px;
    width: 60px;
    height: 60px;
  }
  
  .moreHair--right {
    top: 40px;
    left: 400px;
    width: 90px;
    height: 90px;
  }
  